**/SensoramaVars.h
Sensorama/fastlane/AppStore_com.koszek.Sensorama.mobileprovision
Sensorama/fastlane/Development_com.koszek.Sensorama.mobileprovision
Sensorama/fastlane/README.md
Sensorama/fastlane/report.xml
