<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>samplingFrequency</key>
	<integer>100</integer>
	<key>developerMode</key>
	<integer>0</integer>
	<key>exportEmail</key>
	<integer>1</integer>
	<key>exportS3</key>
	<integer>1</integer>
	<key>sensorAccelerometer</key>
	<integer>1</integer>
	<key>sensorGyroscope</key>
	<integer>1</integer>
	<key>sensorMagnetometer</key>
	<integer>1</integer>
	<key>sensorPedometer</key>
	<integer>1</integer>
</dict>
</plist>
