<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<dict>
		<key>Type</key>
		<string>PSToggleSwitchSpecifier</string>
		<key>Title</key>
		<string>Settings</string>
		<key>Key</key>
		<string></string>
		<key>DefaultValue</key>
		<false/>
	</dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Key</key>
			<string>ButtonLogout</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Profile</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Logout</string>
			<key>Key</key>
			<string>ButtonLogout</string>
			<key>FooterText</key>
			<string>Currently logged in as wkoszek@gmail.com</string>
			<key>IASKSubtitle</key>
			<string>with subtitle</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Sensors</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Accelerometer</string>
			<key>Key</key>
			<string>sensorAccelerometer</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Gyroscope</string>
			<key>Key</key>
			<string>sensorGyroscope</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Magnetometer</string>
			<key>Key</key>
			<string>sensorMagnetometer</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Pedometer</string>
			<key>Key</key>
			<string>sensorPedometer</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Sampling</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Frequency</string>
			<key>Key</key>
			<string>samplingFrequency</string>
			<key>DefaultValue</key>
			<string>100</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Export</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Email</string>
			<key>Key</key>
			<string>exportEmail</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Developer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Developer mode</string>
			<key>Key</key>
			<string>developerMode</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
			<key>Title</key>
			<string>Privacy</string>
			<key>Key</key>
			<string>TItle</string>
			<key>File</key>
			<string>https://github.com/wkoszek/sensorama-ios/blob/master/PRIVACY.md</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
			<key>Title</key>
			<string>Terms of Service</string>
			<key>Key</key>
			<string>TItle</string>
			<key>File</key>
			<string>https://github.com/wkoszek/sensorama-ios/blob/master/TERMS.md</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
			<key>Title</key>
			<string>About</string>
			<key>Key</key>
			<string>TItle</string>
			<key>File</key>
			<string>https://github.com/wkoszek/sensorama-ios/blob/master/DESIGN.md</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
			<key>Title</key>
			<string>Credits</string>
			<key>Key</key>
			<string>TItle</string>
			<key>File</key>
			<string>https://github.com/wkoszek/sensorama-ios/blob/master/Sensorama/Podfile</string>
		</dict>
	</array>
</dict>
</plist>
